# "Archverse Community" Code of Conduct

## Definitions

{% for definition in definitions %}
    - **{{ definition.word }}**: {{ definition.meaning }}
{% endfor %}

## Disclaimer

By participating in the Archverse community, you agree to abide by this Code of Conduct and any future updates to it. We
reserve the right to modify these terms at any time. While we will strive to communicate significant changes, continued
participation in the community after changes are posted will constitute your acceptance of the revised terms.

Additionally, you agree to comply with [Discord’s Terms of Service](https://discord.com/terms) and [Community
Guidelines](https://discord.com/guidelines). Violations of the above may result in suspension and/or permanent
removal from the community.

## Age Requirements

By joining, you confirm that you are old enough to use discord as per their terms of service. The minimum age is 13, but
it can be up to 16 in some places. You can find the official list
[here.](https://support.discord.com/hc/en-us/articles/360040724612-Why-is-Discord-asking-for-my-birthday) 
By meeting the age requirements, you are not granted the rights to use restricted/NSFW content on the community, even as a joke, due to the diverse community age range.

## Discrimination

We do not tolerate any form of discrimination based on a person's:

- 1. Gender
- 2. Sexuality
- 3. Race
- 4. Religion
- 5. Ethnicity
- 6. Nationality
- 7. Language
- 8. Age
- 9. Body size
- 10. Disabilities
- 11. And other aspects of their identity.

## Community Rules

**By joining, you acknowledge that you abide to the following rules:**

{% for rule in rules %}
{{ loop.index }}. **{{ rule.rule }}**
{{ rule.description_lines|join(" ") }}
{% endfor %}

## Last words:

You may report any rule breaking situation and the infractors will be sanctioned properly. 
You may notify staff and it's moderation team, by opening a ticket with the `/tickets open` command.
**Respect the privacy of others.**

# You may not attempt to bypass or find loopholes to the aforementioned rules.
  **any attempt to do so, will result on moderation actions, and sactions according to the gravity of the offense.**


## Contributing:

This Code Of Conduct is written by humans. You may contribute to it by creating an issue tracker/pull request on
https://github.com/Arch-Verse/Arch-Verse-Code-Of-Conduct/tree/master

<!-- this is never gonna render in the readme, so here i go: -->
<!-- made and written with love on neovim/vscode. Original document by @ingenarel, revision by hazelshantz -->
<!-- rewritten for jinja by amadaluzia (amad@atl.tools) -->
<!-- pretty please don't remove this -->